// Import Google fonts
// @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: "Graphik", "-apple-system", "system-ui", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";
$headers-font: "Graphik", "-apple-system", "system-ui", "BlinkMacSystemFont","Segoe UI", "Roboto", "Helvetica Neue", "Arial", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "Graphik";
  src: font-url('Graphik-Regular.eot');
  src: font-url('Graphik-Regular?#iefix') format('embedded-opentype'),
       font-url('Graphik-Regular.woff') format('woff'),
       // font-url('Graphik-Regular.ttf') format('truetype')
       ;
  src: font-url('Graphik-Medium.eot');
  src: font-url('Graphik-Medium?#iefix') format('embedded-opentype'),
       font-url('Graphik-Medium.woff') format('woff'),
       // font-url('Graphik-Medium.ttf') format('truetype')

}
$my-font: "Graphik";
