<div class="col-md-3">
  <%= link_to artwork do %>

  <div class="card-category my-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= artwork.image %>')">
    <%= artwork.title %>
  </div>

  <% end %>
  <%#= link_to "Show it!", cocktail_path(cocktail) %>

  <%# cocktail.tags.each do |tag| %>
    <!-- <span>#<%#= tag.name %></span> -->
  <%# end %>
</div>
