<h1>Artworks list</h1>

<p>Display the list of artworks</p>

<% if params[:search] %>
  <p>Your search for : <%= params[:search] %></p>
<% else %>
  <p>All art pieces availables</p>
<% end %>

<div class="container">
  <div class="">
    <div class="row">
      <%= render partial: 'card', collection: @artworks_filter, as: :artwork %>
    </div>
  </div>
</div>
