<div class="container">
  <h1 class="pt-5 text-center">Art just for you!</h1>
  <div class="pt-2 pb-5 text-center">
  <% if params[:search] && params[:search] != "" %>
    <h2>Here's your search for : <%= params[:search] %></h2>
  <% else %>
    <h2>Here's all what we have</h2>
  <% end %>
  </div>


  <div class="container">
    <div class="cards pb-5">
        <%= render partial: 'card', collection: @artworks_filter, as: :artwork %>
    </div>
  </div>
</div>
