<h1>Artworks list</h1>

<p>Display the list of artworks</p>

<% if params[:search] %>
  <p>Your search for : <%= params[:search] %></p>
<% else %>
  <p>All art pieces avaliables</p>
<% end %>

<ul>
  <% @artworks_filter.each do |artwork| %>
  <li><%= link_to artwork.title, artwork %></li>
  <% end %>
</ul>

