<div>
    <div class="footer centered footer-links" style="padding-top: 24px; padding-bottom: 12px">
      <a href="#" style="font-size: 16px">About</a>
      <a href="#" style="font-size: 16px">Contact</a>
      <a href="#" style="font-size: 16px">Terms</a>
      <a href="#" style="font-size: 16px">Careers</a>
    </div>
    <div class="footer centered footer-links" style="padding-bottom: 12px">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  <div class="footer centered footer-copyright" style="padding-bottom: 24px">
    Made with<i class="px-2 fas fa-heart"></i>  in Berlin
  </div>
</div>
