<div>
    <div class="footer centered footer-links">
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Terms</a>
      <a href="#">Careers</a>
    </div>
    <div class="footer centered footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  <div class="footer centered footer-copyright">
    Made with<i class="px-2 fas fa-heart"></i>  in Berlin
  </div>
</div>
