<ul class="nav flex-column py-5">
  <li class="nav-item">
    <%= link_to "My Profile", profile_path(@profile), class: "nav-link active"  %>
  </li>
  <li class="nav-item">
    <%= link_to "My Artworks", profile_path(@profile), class: "nav-link"  %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">My Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">My Request</a>
  </li>
</ul>
