.banner {
  background-size: cover;
  background-position: center;
  padding: 130px;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 48px;
  font-weight: regular;
  margin-bottom: 16px
}

.banner h2 {
  font-size: 32px;
  margin-bottom: 24px;
  color: white;
}

@include media-breakpoint-up(md) {
  .banner{
    height: 50vh;
  }
}
