.footer {
  background: $violet;
  align-items: center;
  justify-content: space-between;
  height: auto;
  color: $white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  padding: 0px 10px;
  text-align: center;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
